<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{organizationName}} | Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngIf="!isAllowed">
    <ion-card>
      <ion-card-header color="primary">Permission</ion-card-header>
      <ion-card-content color="danger">You are not authorized.</ion-card-content>
    </ion-card>  
  </span>

  <span *ngIf="isAllowed">
  
  <ion-icon name="send" item-left></ion-icon>
  
  <form (ngSubmit)="login()" #registerForm="ngForm">

	
	
	<ion-card fixed>
  <ion-card-header style="background-color:'primary'" >
    User Login
  </ion-card-header>
<ion-card-content>
		<ion-list inset>
		
		<ion-item>
			<ion-icon name="person" item-left></ion-icon>
			<ion-label for="user_id">Username</ion-label>
			<ion-input id="user_id" name="username" type="text"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-icon name="key" item-left></ion-icon>
			<ion-label for="password_id" >Password</ion-label>
			<ion-input id="password_id" type="password"></ion-input>
		</ion-item>
		
		<ion-item>
				
				
		      <button block ion-button type="submit" [disabled]="!registerForm.form.valid">
		      <ion-icon name="send" item-left></ion-icon>Login</button>
	     </ion-item>
	     
	   	<ion-item>
	   			
	          <button block ion-button clear (click)="createAccount()">
	          <ion-icon name="person-add" item-left></ion-icon>
	          	Create New Account
	          </button>
	     </ion-item>  
	</ion-list>
</ion-card-content>
  </ion-card>
  
    </form>

  
  </span>
</ion-content>
