<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{organizationName}} | Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngIf="!isAllowed">
    <ion-card>
      <ion-card-header color="primary">Permission</ion-card-header>
      <ion-card-content color="danger">You are not authorized.</ion-card-content>
    </ion-card>  
  </span>

  <span *ngIf="isAllowed">
    <button ion-button secondary menuToggle>Toggle Menu</button>
  </span>
</ion-content>
